<h1>ユーザー詳細ページ</h1>

<h3>名前: <%= @user.name %></h3>
<h3>メール: <%= @user.email %></h3>

<% if current_user?(@user) %>
  <p><%= link_to 'ユーザー情報を編集する', edit_user_path(@user), class: "btn btn-primary" %></p>
  <p><%= link_to 'アカウントを削除する', user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></p>
<% end %>
