<div class="ui container">
  <h1>ユーザー詳細ページ</h1>

  <h3>名前: <%= @user.name %></h3>
  <h3>メールアドレス: <%= @user.email %></h3>

  <% if current_user?(@user) %>
    <p><%= link_to 'ユーザー情報を編集する', edit_user_path(@user), class: "ui primary button" %></p>
  <% end %>

  <h2>ユーザー成果物</h2>
  <% @products.each do |product| %>
  <p><%= link_to product.title, product_path(product) %></p>
  <% end %>
</div>