<div class="ui container">
  <div class="ui raised segment center aligned" style="margin-top: 50px;">
    <h1>ShareBackとは？</h1>
    <div class="ui divider"></div>

    <p style="font-size: 1.1rem;">ShareBackはエンジニアのための成果物共有プラットフォームです。</p>
    <p style="font-size: 1.1rem;">ユーザーの声を聞いてより良いプロダクトにしましょう。</p>

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3 class="ui icon header">
              <i class="keyboard outline icon"></i>
              <div class="content">成果物を投稿しよう</div>
            </h3>
          </div>
          <div class="column">
            <h3 class="ui icon header">
              <i class="paper outline plane icon"></i>
              <div class="content">フィードバックを送ろう</div>
            </h3>
          </div>
          <div class="column">
            <h3 class="ui icon header">
              <i class="comments outline icon"></i>
              <div class="content">ユーザーの声を聞こう</div>
            </h3>
          </div>
          <div class="column">
            <h3 class="ui icon header">
              <i class="sync icon"></i>
              <div class="content">より良いものにしよう</div>
            </h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>