/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

// 画像幅がレスポンシブになるように設定
.img_status {
  width: 100%;
}

// headerが見切れたらスクロールできるように
header {
  overflow: scroll;
   /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
   /*Firefoxへの対応*/
  scrollbar-width: none;
}
 /*Google Chrome、Safariへの対応*/
header::-webkit-scrollbar{
  display: none;
}

//ハートの色
.heart-on {
  color: #FF7696;
}

// タグ選択後の一覧表示でタグ名が大文字になるのを修正
.ui.divider {
  text-transform: none;
}