<div class="ui container">
  <h2>成果物一覧</h2>

    <%= link_to new_product_path do %>
      <button class="ui primary basic button">
        <i class="plus square icon"></i>
        新規投稿
      </button>
    <% end %>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>投稿者</th>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td data-label="投稿者"><%= product.user.name %></td>
        <td data-label="タイトル"><%= link_to product.title, product_path(product) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
