<h1>成果物詳細ページ</h1>

<h3>タイトル: <%= @product.title %></h3>
<h3>内容: <%= @product.body %></h3>

<% if current_user?(@product.user) %>
  <p><%= link_to '編集する', edit_product_path(@product), class: "btn btn-primary" %></p>
<% end %>
